*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(./image/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.glass-box {
    width: 70%;
    height: 70%;
    background: radial-gradient();
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 5px 10px 20px black;
}

.logo {
    color: black;
    font-size: 35px;
    float: left;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 5%;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.about {
    margin-left: 30px;
    padding: 18px;
}

button{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color: black;
    background-color: pink;
    border: 0;
    outline: 0;
    font-family: cursive;
    border-radius: 5px;
    
}